<script>
</script>
<h3>1.  Introduction</h3>


<div class = "hid" id = "cr1_3" >Suppose a user searches for a "cat" Which result will be most relevant(Click on one)</div>
<div class = "hid" id = "cr1_4" onclick = "fadeAnswer('#cr1_5','#cr1_6')"><img src = "{{STATIC_URL}}images/index1.png"></div>
<div class = "hid" id = "cr1_5" onclick = "fadeAnswer('#cr1_4','#cr1_6')"><img src = "{{STATIC_URL}}images/index2.png"></div>
<div class = "hid" id = "cr1_6"> <br>Maybe, the user might be searching for the animal or a company.</div>







