<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link href="/static/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
<link href="/static/dist/css/flat-ui.css" rel="stylesheet">

<head>
	<title>Search Blueprint</title>
</head>

<nav class="navbar navbar-inverse " role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand" href="#">Search Blueprint - TeamNine - CSC301 </a>
	</div>
</nav>
<!-- /navbar -->

<div class="jumbotron">
	<div class="container">
		<h1>
		Welcome to Search Blueprint!
		</h1>
		<p>Here you will learn about how search engines work and see what is happens on the inside. Click the start button below to read the basics, and after that you can choose what you want to learn.
		</p>
		
		<p><a class="btn btn-hg btn-primary" href="#" role="button">START</a></p>
	</div>
</div>

</html>