<!---->
<div class = "content" id = "content" align="center" >
		
		<div class="container" id="container0"> <h3>Indexing</h3> Welcome to the interactive tutorial on search engine indexing. Press the next button to continue to the first lesson.</div>
		
		<!--<div class="container" id="container1" style="display:none"> 
			{% include "indexing/indexing_1.html" %}
		
		</div>

		<div class="container" id="container2" style="display:none"> 
			{% include "indexing/indexing_2.html" %}
		</div>

		<div class="container" id="container3" style="display:none">
			{% include "indexing/indexing_3.html" %}
		</div>

		<div class="container" id="container4" style="display:none">
			{% include "indexing/indexing_4.html" %}
		</div>
		<div class="container" id="container5" style="display:none">
			{% include "indexing/indexing_5.html" %}
		</div>
		<div class="container" id="container6" style="display:none">
			{% include "indexing/indexing_6.html" %}
		</div>
		-->
	
	</div>


	<div  align="center" class="footer" id = "footer">
      

		<div  class="btn btn-hg btn-primary" id="prevButton" onclick = "navPage(0)"> PREV </div>
		<div  class="btn btn-hg btn-primary" id="nextButton" onclick="navPage(1)"> NEXT </div>
	</div>
	

    
