<!---->
<div class = "content" id = "content" align="center" style="margin-top:50px;">
		
		<div class="container" id="container0"> <h3>Understanding Queries and different algorithms</h3> Welcome to the interactive tutorial on web crawlers. Press the next button to continue to the first lesson.</div>
		
		
	
	</div>


	<div  align="center" class="footer" id = "footer">
      

		<div  class="btn btn-hg btn-primary" id="prevButton" onclick = "navPage(0)"> PREV </div>
		<div  class="btn btn-hg btn-primary" id="nextButton" onclick="navPage(1)"> NEXT </div>
	</div>
	

    
