<h3>What is it?</h3>

<div class = "hid3" id = "cr3_1" align = "left">
	When you enter a query into a search engine, the search engine must first find the webpages before presenting them to you. Most search engine use "Web crawlers" to do to job.
</div>
<br>
<div class = "hid3" id = "cr3_2" align = "left">
	Web crawlers can also be referred as:
	<br>
	
		<ul>
			<li>web spiders</li>
			<li>robots</li>
			<li>automatic indexer</li>
		</ul>
	
</div>
<br>
<div align = "center" class = "hid3" id = "cr3_3"> <b>The process of going through Internet webpages is called "crawling"</b> 
</div>