<h3>Components</h3>

<div class = "hid4" id = "cr4_1">
    There are many different parts to a search engine index. The design factors of a search engine index design or outline the architecture of the index and decide how the index actually works. Major factors include:
</div>
<br>
<div class = "hid4" id = "cr4_2">
    Merge factors - how the information enters the index, deciding whether the data is new data or data that is being updated.
</div>
<div class = "hid4" id = "cr4_3"> 
	Index size - the amount of computer space necessary to support the index.
</div>
<div class = "hid4" id = "cr4_4">
    Storage techniques - how the information should be stored. Larger files are compressed while smaller files are simply filtered.
</div>
<div class="hid4" id="cr4_5">
    Fault tolerance - how important it is for the search engine index to be reliable.
</div>
<div class="hid4" id="cr4_6">
    Lookup speed - how quickly a word can be found when the data is searched in the inverted index.
</div>
<div class="hid4" id="cr4_7">
    Index data structure - how a search engine performs indexing and stores indexes. We will cover more on this topic in the following sections.
</div>
