<h3>Introduction</h3>
<br>
<div class = "hid2" id = "cr2_1">
    A huge part of any good search engine is not to simply return the pages that best match the input query.
</div>
<div class="hid2" id="cr2_2">
    Instead, it tries to answer the underlying question
</div>
<div class="hid2" id="cr2_3">
    Many search engines use complex algorithms to determine what result they should return.
</div>
<div class="hid2" id="cr2_4">
    Indexing is used to optimize speed and performance in finding relevant documents for a search query.
</div>
<div class="hid2" id="cr2_5">
    Search engine indexing collects, parses, and stores data to faciliate fast and accurate information retrieval.
</div>
<div class="hid2" id="cr2_6">
    Indexing takes place within search engine's database, after the crawler stores the data to the database.
</div>
<div class="hid2" id="cr2_7">
    The search engine index provides the result for search queries, and pages that are stored within the search engine index that appear on the search results page.
</div>
<div class="hid2" id="cr2_8">
    Index design incorporates interdisciplinary concepts from linguistics, cognitive psychology, mathematics, informatics, and computer science.
</div>
<br>
<!--
<div class = "hid2" id = "cr2_2" onclick = "fadeAnswer('#cr2_2,#cr2_4','#cr2_6')""><b>1. A computer virus you get from browsing the web</b></div>
<div class = "hid2" id = "cr2_3" onclick = "fadeAnswer('#cr2_2,#cr2_4','#cr2_5')"><b>2. A program that collects content from the web</b></div>
<div class = "hid2" id = "cr2_4" onclick = "fadeAnswer('#cr2_2,#cr2_4','#cr2_6')"><b>3. A new found species of a spider in the Amazon</b></div>

<div class = "hid2" id = "cr2_5"> <br>Correct. Answer 2 is correct.</div>
<div class = "hid2" id = "cr2_6"><br> Wrong. Answer 2 is the right one.</div>
-->
