<h3>Examples of data structure</h3>

<div class = "hid6" id = "cr6_1">
	Suffix tree - supports linear time lookup and is structured like a Tree
</div>
<div class = "hid6" id = "cr6_2">
	Tree - an ordered tree data structure that stores an associative array where the keys are strings.
</div>
<div class = "hid6" id="cr6_3">
    Inverted index - stores a list of occurrences in the form of a hash table or a binaary tree.
</div>
<div class = "hid6" id="cr6_4">
    Citation index - stores citations or hyperlinkes between certain documents to support citation analysis
</div>
<div class="hid6" id="cr6_5">
    Ngram index - stores sequences of length of data, which supports other types of retrieval. Sometimes supports text mini too.
</div>

